---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import Creations from '../components/Creations.astro';
---

<Layout title="Loopstudios | Immersive Experiences">
    <Hero />
    <main>
        <Feature />
        <Creations />
    </main>
</Layout>