---
---
<header class="flex justify-between items-center px-8 md:px-20 py-10 absolute top-0 w-full z-50 text-white">
    <img src="images/logo.svg" alt="Loopstudios" class="w-32 md:w-40">
    <nav>
        <ul class="flex gap-6 text-sm font-bold">
            <li class="hover:underline cursor-pointer">About</li>
            <li class="hover:underline cursor-pointer">Careers</li>
            <li class="hover:underline cursor-pointer">Events</li>
            <li class="hover:underline cursor-pointer">Products</li>
            <li class="hover:underline cursor-pointer">Support</li>
        </ul>
    </nav>
</header>